<p> 
  <%= f.label :name, "Title" %><br />
  <%= f.text_field :name, :size => 40 %> 
</p> 

<p> 
  <%= f.label :desc, "Text" %><br />
  <%= f.text_area :desc %> 
</p> 

<p>
  <%= f.label :files %>
</p>
<div id="materials">
  <%= render :partial => 'material', :collection => @task.materials %>
</div>
<div>
  <%= add_link("material", "Add file") %>
</div>
<p>
  <%= f.label :answers %>
</p>
<div id="answers">
  <%= render :partial => 'answer', :collection => @task.answers %>
</div>
<div>
  <%= add_link("answer", "Add answer") %>
</div>

<% if @task.episode && @task.episode.start_time > Time.now -%>
  <p>
    <%= f.label :episode %>
    <%= f.collection_select("episode_id" , @episodes, "id", "name") %>
  </p>
<% end -%>
<p>
	<%= f.label :partial %> <br />
	<%= f.text_field 'partial' %>
</p>