<div class="width2 column first">
	<h2>Welcome, <%= current_user.login %>...</h2>


	<%= render :partial => "tasks/teaser_message" %>

	<%= render :partial => "tasks/solutions" %>

	<p class="leading">
	<%= game_link %>
	</p>
	<br style="clear:both;" />
	<% unless current_user.progresses.empty? %>
	<h3>Your progress</h3>
	<table>
		<tr><td><b>Episode</b></td><td><b>Task</b></td><td><b>Placement</b></td></tr>
		<% current_user.progresses.each do |p| %>
		<tr><td><%= p.episode.name %></td><td><%= p.task.name %></td><td><%= p.position %></td></tr>
		<% end %>
	</table>
	<% end %>
</div>
<div class="width1 column message-box">
	<h3>Status</h3>
	<div class="flashes">
		<%= flash[:notice] %>
		<%= flash[:error] %>
	</div>
	<p>
		Here you will be able to see your progress while the game is running. You will also be able to find the link to start the game here.
	</p>
	<p class="align-right">
		Want to take a break?<br />
		<a href="/logout" style="font-size:18px;font-weight:bold;" class="load-remote">Log out</a>
	</p>
</div>
<br style="clear:both;" />
<script>
requester.hash = "#home";
requester.bindLinkEvents();
window.location.hash = "home";
</script>