<div class="width2 column first">
	<h2><%= @task.name %></h2>

	<p>
		<%= @task.desc %>
	</p>

	<% unless @task.partial.empty? %>
	<% begin %>
	<%= render :partial => partial_path(@task), :locals => {:task => @task, :user => current_user} %>
	<% rescue %>
	<i>Technical Error - Notify an admin!</i>
	<% end %>
	<% end %>
</div>
<div class="width1 column message-box">
	<span class="task">Task <%= @task.position %>/<%= Task.count(:conditions => { :episode_id => @task.episode_id }) %></span>
	<div>
		<%= flash[:notice] %>
		<%= flash[:error] %>
	</div>
	
	<% @task.clues.each_with_index do |clue, index| %>
	<div class="clue">
		Clue #<%= index+1 %>:<br />
		<%= clue.body %>
	</div>
	<% end %>
	
	<p class="align-right">
		Want to take a break?<br />
		<a href="/logout" style="font-size:18px;font-weight:bold;" class="load-remote">Log out</a>
	</p>
</div>
<br style="clear:both;" />

<form id="answer_form" onsubmit="game.play($('answer_form').toQueryString()); return false;" method="post" action="/answer">
	<fieldset class="width2">
		<label class="no-gutter">
			Answer:
			<input type="text" id="text_input"  style="width:450px;" name="answer[text]" />
		</label>
		<input type="image" src="/images/go.png" style="position:relative;top:20px;">
	</fieldset>
</form>