
  	<%= link_to "New Task", new_admin_task_path %> | <%= link_to "New Episode", new_admin_episode_path %>

<br />
<% @episodes.each do |episode| %>
<div class="episode_box">
  
  <% if episode.tasks.empty? -%>
    <span class="redLink">
  <% else -%>
    <span>
  <% end -%>
  
    <h3>
      <%= link_to episode.name, edit_admin_episode_path(episode) %>
      <% if episode.start_time - episode.headstart.minutes < Time.zone.now %>
        -  Warning! This episode is LIVE!
      <% end %>
    </h3>
  </span>
  
  <% unless episode.desc.empty? %>
    <p><% episode.desc %></p>
  <% end %>
  
  <div id="task_list_container<%=episode.id%>" style="" class="task_list_container">
    <ol id="task_list_episode<%=episode.position%>" class="tast_list">
      <% if episode.tasks.empty? %>
        This episode has no tasks :(
      <% end %>
      <% episode.tasks.each do |task| %>
        <li style="cursor:move;" id="task_<%= task.id %>">
          <div class="task_list_item">
            <% if task.answers.empty? -%>
              <span class="redLink">
              <% else -%>
              <span>
            <% end -%>
            <%= task.name %> -
            <%= link_to "Show", admin_task_path(task) %>
            <%= link_to "Edit", edit_admin_task_path(task) %>
            </span>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<script type="text/javascript">
	new Sortables($('task_list_episode<%=episode.position%>'), {
		onComplete: function() {
			new Request({method: 'put', url: "/admin/tasks/order?tasks="+this.serialize(function(el) {
					return el.id.replace("task_","");
				})
			}).send();
		}
	});
</script>

<% end %>