<% content_for :title do %>
  <h1>Winner of each task</h1>
<% end %>
<table style="width: 100%;">
<% @episodes.each do |e| %>
<tr><td><strong><%= e.name %></strong></td><td><strong>User:</strong></td><td><strong>Time passed:</strong></td><td><strong>Best time:</strong></td></tr>
<% e.tasks.each do |t| %>
<% unless t.progresses.empty? %>
<tr><td><%= t.name %></td><td><%= link_to t.progresses.first.user.login, user_path(t.progresses.first.user) %></td>
	<td><%= t.progresses.first.created_at.to_s(:short) %></td><td>
		<%= best_completion_time(t) %>
	</td></tr>
	<% else %>
	<tr><td><%= t.name %></td><td colspan="3">None Shall Pass!</td></tr>
	<% end %>
	<% end %>
	<tr><td colspan="4">&nbsp;</td></tr>
	<% end %>
</table>
<div class="statcontainer" style="overflow: auto; width: 100%;">
<div style="float: left; width: 70%;">
<h3>Number of people that have completed the tasks</h3>
<img src="<%= get_progresses_chart_link %>" /> <br /><br />
</div>

<div style="float: left;">
<h3>Average time per task <br /><span style="font-size: 10px;">(for the first 50)</span></h3>

<% @episodes.each do |e| %>
	<strong><%= e.name %></strong><br />
	<% e.tasks.each do |t| %>
	<% unless t.progresses.empty? %>
			<%= t.position %>: <%= average_completion_time(t) %>
	<% else %>
	<%= t.position %>: None Shall Pass
	<% end %>
	<br />
	<% end %>
	<br />
<% end %>
</div>
</div>
<div class="statcontainer" style="overflow: auto; width: 100%;">
<div>
<h3>Where players are right now</h3>

<img src="<%= get_player_count_chart_link %>">

</div>
</div>