<div>
	<h3>Number of people that have completed the tasks</h3>
	<%= image_tag url_for(:controller => "admin", :action => "graph", :type => "progresses"), :style => "border: 2px solid gray;" %>
</div>

<div>
	<h3>Average time per task *this should be graphed* <br /><span style="font-size: 10px;">(for the first 50)</span></h3>

	<% @episodes.each do |e| %>
	<strong><%= e.name %></strong><br />
	<% e.tasks.each do |t| %>
	<% unless t.progresses.empty? %>
	<%= t.position %>: <%= average_completion_time(t) %>
	<% else %>
	<%= t.position %>: None Shall Pass
	<% end %>
	<br />
	<% end %>
	<br />
	<% end %>
</div>

<div>
	<h3>Where players are right now</h3>

	<%= image_tag url_for(:controller => "admin", :action => "graph", :type => "players"), :style => "border: 2px solid gray;" %>

</div>