
<h1>Viewing <%= @user.login %> </h1>


<table id="user_table">
	<tr>
		<td>
			<h3>Basic information</h3>
			<table>
				<tr><td>Name:</td><td><%= @user.firstname %> <%= @user.lastname %></td></tr>
				<tr><td>E-mail:</td><td><%= @user.email %></td></tr>
				<tr><td>Phone:</td><td><%= @user.phone %></td></tr>
				<tr><td>Place:</td><td><%= @user.row %>:<%= @user.seat %></td></tr>
				<tr><td>Team:</td><td><%= @user.team %></td></tr>
				<tr><td>Country:</td><td><%= @user.nationality %></td></tr>
			</table>
		</td>
		<td>
			<h3>User progresses</h3>
			<table>
				<tr><th>Task</th><th>Finished at</th><th>Ans.</th></tr>
				<% unless @user.progresses.empty? 
					@user.progresses.each do |p| %>
					<tr>
						<td><%= p.task.episode_id %>:<%= p.task.position %></td>
						<td><%= p.created_at.to_s(:long) %> &nbsp;&nbsp;</td>
						<td ><%= p.answer %></td>
					</tr>
					<% end
				end %>
			</table>
		</td>
		<td>
			<h3>Teammates</h3>
			<% if @user.teammates.empty? %>
			He's workin' alone!
			<% end %>
			<% @user.teammates.each { |u| %> <%= link_to u.login, admin_user_path(u) %><br /> <% } %>
		</td>
	</tr>
</table>
<div style="padding: 5px">
	<h3>Wrong answers</h3>
	<% @user.wrong_answers.each do |wrong_answer| %>
	<strong><%= wrong_answer.answer %></strong> on
	<%= link_to wrong_answer.task.name, task_path(wrong_answer.task) %><br />
	<% end %>
</div>