<div class="width2 column first">
	<h1>The DreamHack Game</h1>
	<%= render :partial => "/tasks/solutions" %>
	<p class="leading">
		The DreamHack Game is a <a href="http://en.wikipedia.org/wiki/Puzzle_hunt" alt="Puzzle Hunt">puzzle hunt</a> where intellect, craftiness and the ability to think logically makes you go far.
	</p>
	<p class="leading">
		The requirements for playing the game is that you are in place at DreamHack in Elmia and have registered at this site. You can register now, so do it!
	</p>
	<p class="leading">
		The <strong>prize</strong> will be 10 tickets for the next DreamHack event!
	</p>
	<p class="leading">
		You do not need any special knowledge to compete in The DreamHack Game, you only need to know how to obtain it.
	</p>
	<p class="leading">
	  The game will start at 17:00 on Friday the 27th! The game is played in two stages, 
	  the winner of the second stage will win the final prize. The second stage starts on Saturday the 28th.
	</p>
</div>
<div class="width1 column message-box">
	<% form_tag register_path do %>
		<fieldset class="nopadding">
			<legend>Start playing the game</legend>
			<% if flash[:notice] || flash[:error] %>
			<div class="flashes" style="font-size:16px">
				<%= flash[:notice] %>
				<%= flash[:error] %>
			</div>
			<% end %>
			<label class="no-gutter">
				Login
				<%= text_field_tag 'login', @login, :class => "loginbox" %>
			</label>

			<label class="">
				Password
				<%= password_field_tag 'password', nil, :class => "loginbox" %>
			</label>
		</fieldset>
		<fieldset class="no-gutter nopadding">
			<%= check_box_tag 'remember_me', '', @remember_me || true, :class => "checkbox" %>
			<label for="remember_me" class="unitx1 checkbox-label" style="padding-left:4px;">Remember me</label>					  
			<%= submit_tag 'Log in' %>
		</fieldset>
		<fieldset  style="padding-bottom:5px;">
			<legend class="nopadding">Don't have an account? That's alright...</legend>
			<h3 class="align-right" ><a class="load-remote" href="/signup">Sign Up Here!</a></h3>
		</fieldset>
	<% end %>
</div>
