<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" ></meta>
  <%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'standards' %>
	<%= stylesheet_link_tag 'jsProgressBarHandler' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jsProgressBarHandler' %>
	<title>The Dreamhack Game</title>
</head>
<body>
  <div id="wrapper">
    <div id="top">
      <div id="menu">
        <div class="left menu">
	  	    <%= home_link %>  <%= info_link %>  <%= help_link %>
	  	    <% if authorized? %>
	  	    
	  	    <%= link_to "creation", :action => :create, :controller => :admin %>  
	  	    <%= link_to "users", users_path %>
	  	    <%= link_to "stats", :action => :stats, :controller => :admin %>
	  	    <% end %>
        </div>
        <div class="right menu">
	  	    <% if current_user %>
	  		  <%= link_to current_user.login, edit_user_path(current_user), :id => current_user.id %>
	  		  | <%= link_to 'logout', logout_path %>
	  	    <% end %>
        </div>
      </div>
      <div id="top_text">
        <%= yield :title %>
      </div>
    </div>
    <div id="content">
      <% if flash[:error] %>
      <div id="box_of_warning">
	      <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div id="box_of_notice">
	      <%= flash[:notice] %>
      </div>
      <% end %>
      
      <%= yield %>
    
    </div>
    <div id="bottom">
      <div class="bottom-text"> 
        Internet Explorer gives you aids.
      </div>
    </div>
  </div> <!-- close wrapper -->
</body>
</html>