<!DOCTYPE html>
<html>
<head>
	<title>The Dreamhack Game</title>
	<%= stylesheet_link_tag 'baseline.compress' %>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'mootools-core.js' %>

	<%= javascript_include_tag 'requester.js' %>
	<%= javascript_include_tag 'game.js' %>
</head>
<body>
	<div id="superwrapper">
		<div class="width3" id="wrapper">
			<div class="width3" id="header">
				<ul id="menu">
					<li class="home active"></li>
					<li class="rules"></li>
					<li class="help"></li>
					<li class="profile"></li>
				</ul>
			</div>

			<div class="width3 nopadding shadowy">
				<div id="content">
					<%= yield %>
				</div>
				<br style="clear:both;" />
			</div>

			<div class="width3 clear align-right disclaimer">
				This page was not intended for use with Internet Explorer
			</div>
		</div>
	</div>
</body>
</html>